# =====================
# Python / Backend
# =====================
backend/venv/
venv/
.env
__pycache__/
*.pyc

# Machine Learning / Logs
runs/
*.pt
*.pth
*.h5
*.onnx

# =====================
# OS / Editor
# =====================
Thumbs.db

